import(methods)

importFrom(stats, predict, simulate)

export(	
	makeDepmix,
	makeMix,
	lystig,
	fb,
	forwardbackward,
	MVNresponse,
	llratio,
	multinomial,
	em,
	viterbi,
	mlogit
)

exportClasses(
	depmix,
	depmix.sim,
	mix,
	depmix.fitted,
	mix.fitted,
	response,
	GLMresponse,
	MVNresponse,
	transInit
)

exportMethods(
	AIC,
	BIC,
	fit,
	npar,
	freepars,
	nlin,
	getdf,
	nobs,
	nresp,
	ntimes,
	nstates,
	depmix,
	mix,
	posterior,
	GLMresponse,
	transInit,
	setpars,
	getpars,
	logLik,
	predict,
	dens,
	show,
	simulate,
	summary
)
