import(methods, MASS, nnet, Rsolnp)

importFrom(stats, predict, simulate)

importFrom("stats", "cov", "cov.wt", "dbinom", "dgamma", "dmultinom",
             "dnorm", "qnorm", "dpois", "gaussian", "glm.fit", "lm.fit",
             "lm.wfit", "mahalanobis", "make.link", "model.frame",
             "model.matrix", "model.response", "pchisq", "rbinom",
             "rgamma", "rmultinom", "rnorm", "rpois", "sd")

importFrom(stats4, AIC, BIC, logLik, nobs, summary)

importFrom(nlme, fdHess)

export(	
	makeDepmix,
	makeMix,
	lystig,
	fb,
	llratio,
	multinomial,
	em,
	em.control,
	viterbi,
	mlogit,
	logLik,
	stationary
)

exportClasses(
	depmix,
	depmix.sim,
	depmix.fitted,
	mix,
	mix.sim,
	mix.fitted,
	response,
	GLMresponse,
	MVNresponse,
	transInit
)

exportMethods(
	fit,
	multistart,
	getConstraints,
	npar,
	freepars,
	nlin,
	getdf,
	nobs,
	nresp,
	ntimes,
	nstates,
	depmix,
	mix,
	posterior,
	GLMresponse,
	MVNresponse,
	forwardbackward,
	transInit,
	setpars,
	getpars,
	predict,
	dens,
	show,
	simulate,
	summary,
	logLik,
	getmodel,
	hessian,
	vcov,
	standardError,
	confint
)

useDynLib(depmixS4, .registration = TRUE)